<!doctype html>
<html lang="en">
<head>
  <title>WeCode</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/codepad.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/video.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/body.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
</head>

<body>

<div id="wholePage">
<!-- navigation bar-->
<nav class="nav navbar-inverse navbar-fixed-top navbar-toggleable-md " role="navigation" style="height:50px">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width=100 style="border-radius: 10px;">
            </a>
        </div>
    </div>
</nav>

<!-- main part of the page-->
<div id="mainBody">
    <div class="row" id="control-buttons">
    <!-- code for the editor controls -->
      <div class="col-7">
        <div class="btn-group" role="group">
          <button class="btn btn-light" onclick="saveDocument()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>  save</button>
          <button class="btn btn-light" onclick="restoreCode()">
              <i class="fa fa-repeat" aria-hidden="true"></i>  restore</button>
        </div>
          <!-- Modal control button -->
          <button class="btn btn-light" data-toggle="modal" data-target="#codeSyncModal" onclick="codeSyncInitializer()">
              <i class="fa fa-share-alt" aria-hidden="true"></i>  share</button>
          <!-- Modal -->
          <div class="modal fade" id="codeSyncModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="btn btn-light" data-dismiss="modal" onclick="copyMySyncCode()">
                      <i class="fa fa-files-o" aria-hidden="true"></i> Copy My Code</button>
                  <script>
                    function copyMySyncCode() {
                      var mySyncCode = document.getElementById('codeSyncId');
                      mySyncCode.select();
                      document.execCommand('copy');
                    }
                  </script>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <input id="codeSyncId" class="form-control"></input>
                    <div class="input-group-btn">
                        <button class="btn btn-light" type="button" data-dismiss="modal" onclick="initiateCodeSync()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> SYNC</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="btn-group">
          <button id="themeSelectDropdown" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="themeSelectDropdown">
            <a class="dropdown-item" onclick="changeThemeTo(this)" name="xcode">xcode</a>
            <a class="dropdown-item" onclick="changeThemeTo(this)" name="solarized_light">solarized light</a>
            <a class="dropdown-item" onclick="changeThemeTo(this)" name="chaos">chaos</a>
            <a class="dropdown-item" onclick="changeThemeTo(this)" name="ambiance">ambiance</a>
          </div>
        </div>
        <button class="btn btn-light" onclick="compileAndRun()" style="float:right">
            <i class="fa fa-play" aria-hidden="true"></i> run</button>
      </div>
    <!-- code for the video connection controls -->
      <div class="col" id="video-controls">
        <div class="input-group">
        <input id="peerCodeInput" type="text" class="form-control" placeholder="PEER CODE" aria-label="Peer ID">
        <div class="input-group-btn">
          <button class="btn btn-light" type="button" onclick="connect()">connect</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a id="myCode" class="dropdown-item" onclick="copyCode()"></a>
            <input id="myCodeInvisible" class="sr-only"></input>
          </div>
        </div>
      </div>
        <script>
          function copyCode() {
            var myCode = document.getElementById('myCodeInvisible');
            myCode.select();
            document.execCommand('copy');
          }
        </script>
      </div>
    </div>

  <!-- code for the editor -->
  <div class="row">
    <div class="col-7">
        <div id="editor">import java.util.*;

public class Solution {
    public static void main(String args[]) {

    }
}
        </div>
    </div>

    <div class="col">
      <!-- code for the video boxes -->

        <div class="div2-1">
          <div style="position: relative; min-height:60%; max-height:60%">
            <video id="peerView" autoplay=true />
          </div>
            <video id="selfView" autoplay=true muted />
        </div>

      <!-- code for the console box -->
        <div class="div2-2" width="100%" height="40%">

          <ul class="nav nav-tabs" id="io-tabs" role="io">
            <li class="nav-item">
              <a class="nav-link" id="output-tab" data-toggle="tab" href="#console-output" role="tab" aria-controls="console-output" aria-selected="false"><span id="io-tab" style="color: #666666;">output</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="input-tab" data-toggle="tab" href="#console-input" role="tab" aria-controls="console-input" aria-selected="true"><span id="io-tab" style="color: #666666;">input</span></a>
            </li>
          </ul>
          <div class="tab-content" id="io-tab-content">
            <div class="tab-pane fade" id="console-output" role="tabpanel" aria-labelledby="output-tab">
              <textarea id="stdout" class="form-control" style="resize:none;border-top:none;min-height:300px;"></textarea>
            </div>

            <div class="tab-pane fade show active" id="console-input" role="tabpanel" aria-labelledby="input-tab">
              <textarea id="stdin" class="form-control" style="resize:none;border-top:none;min-height:300px"></textarea>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
</div>

<!-- code for the the actual editor instantiation and setting -->
<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/ace/ext-language_tools.js"></script>
<script src="/javascripts/themeChanger.js"></script>
<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      enableLiveAutocompletion: true
    });
    setEditorTheme('xcode', 'xcode');
    setPageTheme('xcode');
    editor.getSession().setMode("ace/mode/java");
    editor.$blockScrolling = Infinity;
    editor.setShowPrintMargin(false);
</script>


<script src="/javascripts/jquery-3.2.1.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous" defer></script>
<script src="/javascripts/cookieHelper.js" defer></script>
<script src="/javascripts/editorControl.js" defer></script>
<script src="/javascripts/peerjs/peer.js" defer></script>
<script src="/javascripts/videoCall.js" defer></script>
<script src="/javascripts/codeSync.js" defer></script>
</body>
</html>
