<!doctype html>
<html lang="en">
<head>
  <title>WeCode</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index-page.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<div class='container-fluid' id='wholePage'>
  <div id='alertMessage' class="container-fluid" style="position:fixed;z-index:1090;display:none">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong id='alertMessageContent'></strong>
      <button type="button" class="close" onclick="$('#alertMessage').hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class='container-fluid'>
    <div class="row">
      <div class="col-sm-7">
        <div class='large-cell'>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="center-align">
          <div id="createRoomCard" class="card" style="width: 30rem;">
            <div class="card-body">
              <h4 class="card-title" style="text-align: center">Create a code room, start coding!</h4>
                <div class="row">
                  <div class="col-sm-5 zeropadding-right">
                    <label for="roomName" style="line-height: 40px; float:right">
                      tan90.tech/room/
                    </label>
                  </div>
                  <div class="col-sm-7 zeropadding-left"><input type="text" class="form-control" id="roomName" placeholder="Code Room Name" required></div>
                </div>
                <br>
                <div class="row">
                  <button class="btn btn-primary fullsize-center" onclick="createRoom()">Create new room</button>
                </div>
                <br>
                <div class="row">
                  <div style="text-align: center; margin: auto">
                    Know where to go? <a href="#" onclick="gotoRoom()">Enter room name and go!</a>
                    <script>
                      function gotoRoom() {
                        var roomName = document.getElementById('roomName').value;
                        var host = window.location.hostname;
                        var protocol = window.location.protocol;
                        window.location = protocol + '//' + host + '/room/' + roomName;
                      }
                    </script>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <div>
    </div>
  </div>
</div>

<script src="/javascripts/jquery-3.2.1.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous" defer></script>
<script src="/javascripts/roomCreate.js" defer></script>
</body>
</html>
