.control-bar-button {
   border: none outset #272822;
   background-color: #272822;
   cursor:pointer;
   color: white;
   height: 30px;
}

.control-bar-button:hover {
   background-color: #44473f;
   color:white;
}
