<!DOCTYPE html>
<html lang="en">
<head>
  <title>WeCode</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="/javascripts/jquery-3.2.1.js" async></script>
</head>
<body>
<div id="controlBar">
  <div id="editorControlBox">
    <button onclick="saveDocument()">Save</button>
    <button onclick="restoreCode()">Restore</button>
    <button onclick="compileAndRun()" style="float:right">Run</button>
    <script src="/javascripts/cookieHelper.js" defer></script>
    <script>
      function saveDocument() {
        var code = editor.session.getValue();
        setCookie('code', code, 3);
      }

      function restoreCode() {
        var code = getCookie('code');
        editor.session.setValue(code);
      }

      function compileAndRun() {
        var code = editor.session.getValue();
        $.post({
          url: "compileAndRun",
          data: {
            language: "java",
            code: code
          },
          success: function(result) {
            var myConsole = document.getElementById('console');
            myConsole.value = result;
          }
        });
      }
    </script>
  </div>

  <div id="connectorBox">
    <script src="/javascripts/peerjs/peer.js" defer></script>
    <script src="/javascripts/videoCall.js" defer></script>
    <div style="width:50%;left:50%;float:left">
      <input id="inputBox" name="peerCode" style="width:40%" placeholder="Input code" />
      <button onclick="connect()">Connect</button>
    </div>
    <div style="width:50%;float:right">
      <p id="myCode" align="right" style="width:15%;display: inline"></p>
    </div>
  </div>
</div>

<div id="editor">public class Solution {
  public static void main(String args[]) {

  }
}
</div>

<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/java");
    editor.$blockScrolling = Infinity;
</script>

<div id="videoBox">
    <video id="peerView" autoplay=true />
</div>

<div id="consoleBox">
    <textarea id="console" placeholder="This is console"></textarea>
</div>

</body>
</html>
