<!DOCTYPE html>
<html lang="en">
<head>
  <title>WeCode</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="/javascripts/jquery-3.2.1.js" async></script>
</head>
<body>
<div id="controlBar">
  <div id="editorControlBox">
    <button class="control" onclick="saveDocument()">SAVE</button>
    <button class="control" onclick="restoreCode()">RESTORE</button>
    <button class="control" onclick="compileAndRun()" style="float:right">RUN</button>
    <script src="/javascripts/cookieHelper.js" defer></script>
    <script>
      function saveDocument() {
        var code = editor.session.getValue();
        setCookie('code', code, 3);
      }

      function restoreCode() {
        var code = getCookie('code');
        editor.session.setValue(code);
      }

      function compileAndRun() {
        var code = editor.session.getValue();
        $.post({
          url: "compileAndRun",
          data: {
            language: "java",
            code: code
          },
          success: function(result) {
            var myConsole = document.getElementById('console');
            myConsole.value = result;
          }
        });
      }
    </script>
  </div>

  <div id="connectorBox">
    <script src="/javascripts/peerjs/peer.js" defer></script>
    <script src="/javascripts/videoCall.js" defer></script>
    <div style="width:40%;float:left;">
      <input id="inputBox" name="peerCode" style="width:60%;font-size:10pt;background-color:#444242;border: 0px;height:20px" placeholder="INPUT CODE" />
      <button class="control" onclick="connect()">CONNECT</button>
    </div>
    <button id="myCode" onclick="copyCode()" align="right"></button>
      <script>
        function copyCode() {
          var myCode = document.getElementById('myCode').innerHTML;
          window.prompt("Copy to clipboard: Ctrl+C, Enter", myCode);
        }
      </script>
  </div>
</div>

<div id="editor">public class Solution {
    public static void main(String args[]) {

    }
}
</div>

<script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/java");
    editor.$blockScrolling = Infinity;
    editor.setShowPrintMargin(false);
</script>

<div id="videoBox">
  <div style="position: relative">
    <video id="peerView" autoplay=true />
  </div>
    <video id="selfView" autoplay=true muted />
</div>

<div id="consoleBox">
    <textarea id="console" placeholder="This is console"></textarea>
</div>

</body>
</html>
